<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="notice">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 side">
        <div class="list-group"style="margin-top: 20px"align="center" th:if="${session.user != null}">
            <a href="#" class="list-group-item" >
                <span><img th:src="${session.user.getAvatarUrl()}" class="img-circle" th:width="50"th:height="50"></span>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading" th:text="${session.user.getName()}"></h4>
                        <p class="list-group-item-text" th:text="${session.user.getBio()}"></p>
                    </a>
            </a>
        </div>
    </div>
</div>
</body>
</html>
